@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,400");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Asap", "Poppins", sans-serif;
  text-shadow: #000 0 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #111;
}
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
}

.item {
  position: relative;
  flex: calc(100vw / 6) 1 1;
  background-size: cover;
  overflow: hidden;
  filter: saturate(90%);
  transition: 1s;
}

.item:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(25deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.item:not(:last-child) {
  border-bottom: 1px solid #ccc;
  animation: borderPulse 5s infinite;
}
@media (min-width: 1024px) {
  .item:not(:last-child) {
    border-right: 1px solid #ccc;
    border-bottom: none;
  }
}

.item:hover {
  flex-basis: 40%;
  filter: saturate(120%);
}
@media (min-width: 1024px) {
  .item:hover {
    flex-basis: 75%;
  }
}
.item:hover .quote {
  opacity: 1;
  transform: translateX(0);
}

.item:nth-child(1) {
  background-image: url("./mb.jpg");
  width: 400px;
}

.item:nth-child(2) {
  background-image: url("./srk.jpg");
  width: 400px;
}

.item:nth-child(3) {
  background-image: url("./vj.jpg");
  width: 400px;
}
.quote {
  position: absolute;
  color: #fff;
  bottom: 35%;
  left: 5rem;
  width: calc(100% - 10rem);
  opacity: 0;
  transition: 1s;
  transform: translateX(50%);
}
@media (min-width: 512px) {
  .quote {
    left: 15%;
    bottom: 35%;
    width: 20vw;
  }
}
@media (min-width: 1024px) {
  .quote {
    left: 15%;
    bottom: 35%;
    width: 30vw;
  }
}
.quote p {
  position: relative;
  display: inline-block;
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
  text-wrap: balance;
  font-style: italic;
}
.quote p:before, .quote p:after {
  position: absolute;
  font-size: 5.5rem;
  opacity: 0.6;
}
.quote p:before {
  content: """;
  top: 4rem;
  left: -2rem;
  transform: translate(-100%, -100%);
}
.quote p:after {
  content: """;
  bottom: 2rem;
  right: -2rem;
  transform: translate(100%, 100%);
}
.quote span {
  position: absolute;
  bottom: -2rem;
  right: 0;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  transform: translate(4rem, 100%);
}
.quote span:before {
  content: "—";
  margin-right: 0.7rem;
}

@keyframes borderPulse {
  0%, 100% {
    border-color: #cccccc;
  }
  25%, 75% {
    border-color: rgba(204, 204, 255, 0.9);
  }
  50% {
    border-color: rgba(204, 204, 255, 0.5);
  }
}
h1 {
  font-size: 60px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 span {
  display: inline-block;
  color: #020202;
  text-shadow: 
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
  transition: all 0.3s ease;
}

h1 span:hover {
  transform: scale(1.1) rotate(5deg);
}